body {
  background: #D3E4CD;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEF5ED;
  margin-left:20%;
  margin-right:20%;
}

.component-container {
  display: flex;
}

.component {
  margin: 20px;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
}